          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Actions</li>
              <li><a href="draw">Graphical analysis</a></li>
            </ul>
          </div><!--/.well -->
