<div id="sidebar">
  <%= render :partial => 'layouts/left_menu' %>
</div>
<div id="main-content" class="clearfix">
  <div id="page-content" class="clearfix">
    <div class="page-header position-relative">
      <h1 class="span9">
        Terms
        <small>
          <i class="icon-double-angle-right"></i>
          Dashboard
        </small>
      </h1>
    </div>
    <!--/.page-header-->
    <div class="row-fluid">
      <div class="span12">
        <%= render :partial => 'layouts/navigation_menu' %>
        <div class="tabbable">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#tweets">
                <i class="green icon-home bigger-110"></i>
                Tweets
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#datetime">
                Datetime
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#location">
                Location
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#gender">
                Gender
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#leads">
                Leads
                <span class="badge badge-danger">4</span>
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="tweets" class="tab-pane in active">
              <p>This should contain the list of tweets, as it is described on the terms/showlist.html.erb view.</p>
              <%= @tweets %>
              

            </div>

            <div id="datetime" class="tab-pane">
              <p>This should contain the timeline graph, as described on the showdatetime.html.erb</p>
            </div>

            <div id="location" class="tab-pane">
              <p>This should contain the map view, as described on showlocation.html.erb </p>
            </div>

            <div id="gender" class="tab-pane">
              <p>This should contain the gender graph as in showgender</p>
            </div>

            <div id="leads" class="tab-pane">
              <p>This contains the list of leads</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /span -->
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        var oTable1 = $('#table_report').dataTable({
            "aoColumns": [
                null, null, null,
                { "bSortable": false }
            ] });
    })
</script>
