<div id="sidebar">
  <%= render :partial => 'layouts/left_menu' %>
</div>
<div id="main-content" class="clearfix">
  <div id="page-content" class="clearfix">
    <div class="page-header position-relative">
      <h1 class="span9">
        Terms
        <small>
          <i class="icon-double-angle-right"></i>
          Dashboard
        </small>
      </h1>
    </div>
    <!--/.page-header-->
    <div class="row-fluid">
      <div class="span12">
        <%= render :partial => 'layouts/navigation_menu' %>
        <div class="tabbable">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#tweets">
                <i class="green icon-home bigger-110"></i>
                Tweets
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#leads">
                <i class="green icon-user bigger-110"></i>
                Leads
                <span class="badge badge-important">4</span>
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="tweets" class="tab-pane in active">
              <%= render 'tweets', term: @term, tweets: @tweets %>
            </div>
            <div id="leads" class="tab-pane">
              <%= @leads %>
            </div>
          </div>
        </div>
      </div>
      <!-- /span -->
    </div>
  </div>
</div>
