<div class="container-fluid">
  <div class="row-fluid">
  	
    <div class="span3">      	
      <%= render :partial => 'sidebar' %>
    </div><!--/span-->
    
    <div class="span9">
      <h2> draw!! </h2>
    </div>
    
  </div>
</div>

