<% if user_signed_in? %>
<div class="row-fluid">
	<div class="widget-box">
		<div class="widget-header">
			<h4>
				Terms
				<small>
					<i class="icon-double-angle-right"></i>
					Dashboard
				</small>				
			</h4>			
		</div>
	
		<div class="widget-body">
			<div class="widget-main">
				<%= render 'layouts/navigation_menu' %>
			</div>
		</div>
	</div>
</div>
<% end %>

<div class="row-fluid">
	<div class="content">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#tweets" data-toggle="tab">
					<i class="green icon-home bigger-110"></i>
					Tweets
				</a>
			</li>
			<li>
				<a href="#date-time" data-toggle="tab">DateTime</a>
			</li>
			<li>
				<a href="#location" data-toggle="tab">Location</a>
			</li>
			<li>
				<a href="#gender" data-toggle="tab">Gender</a>
			</li>
			<li>
				<a href="#leads" data-toggle="tab">
					Leads
					<span class="badge badge-important">4</span>
				</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="tweets">
				<%= render 'tweets', term: @term, tweets: @tweets %>
			</div>
			<div class="tab-pane" id="date-time">
				2
			</div>
			<div class="tab-pane" id="location">
				3
			</div>
			<div class="tab-pane" id="gender">
				4
			</div>
			<div class="tab-pane" id="leads">
				5
			</div>
		</div>		
	</div>
</div>

