<div class="container">
	<div class="content">
		<div class="row">
			<div class="span2">
				<%= render :partial => 'layouts/left_menu' %>
			</div>

			<div class="span10">
				<h4>Gender analysis</h4>

				<%= high_chart("gender_div", @chart) %>
			</div>
		</div>
	</div>
</div>

