<div id="footer">
	<div class="container">
		<p class="text-muted credit">
			Twittermometro Beta version by <a href="es.linkedin.com/in/diegosanchezperez">Diego Sánchez</a> and <a href="es.linkedin.com/in/robertobartolome/">Roberto Bartolomé</a>.
		</p>
	</div>
</div>
