<p class="muted credit">
	<b>Twittermómetro Beta Version</b>. Please use this platform as a proof of concept. Visit our <a href="http://twittermometro.com">project site</a> and our <a href="http://blog.twittermometro.com">blog</a> for more info.
</p>
