<div class="footer">
	<div class="container">
		<p>
			&copy; Twittermómetro 2013
		</p>
		<p class="text-muted credit">
			Twittermometro Beta version by <a href="http://es.linkedin.com/in/diegosanchezperez">Diego Sánchez</a> and <a href="http://es.linkedin.com/in/robertobartolome/">Roberto Bartolomé</a>.
		</p>
	</div>
</div>

