<ul class="nav nav-list">
  <li>
    <%= link_to raw("#{'<i class="icon-th-list"></i><span>Terms</span>'}"), terms_path %>
  </li>
  <li>
    <%= link_to raw("#{'<i class="icon-question-sign"></i><span>Help</span>'}"), help_path %>
  </li>
</ul><!--/.nav-list-->

<div id="sidebar-collapse">
  <i class="icon-double-angle-left"></i>
</div>




