<form class="form-inline">
  <div class="control-group">
    <%= select("post", "location", Filter.where(:type => "location").collect { |p| [p.value, p.key] }, {include_blank: 'All'}, {prompt: 'Select location'}) %>
    <%= select("post", "gender", Filter.where(:type => "gender").collect { |p| [p.value, p.key] }, {include_blank: 'All'}, {prompt: 'Select gender'}) %>

    <div class="input-prepend" style="margin-right: 15px;">
      <span class="add-on"> <i class="icon-calendar"></i> </span>
      <input class="span11" type="text" name="date-range-picker" id="id-date-range-picker-1"/>
    </div>

    <button class="btn btn-info" type="submit">
      <i class="icon-ok bigger-110"></i>
      Submit
    </button>
  </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#id-date-range-picker-1').daterangepicker({
            format: 'DD/MM/YYYY',
            startDate: moment().subtract('days', 15),
            endDate: moment()
        });
    });
</script>
